@model braintec.Infrastructure.Data.Tinventario

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tinventario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Refrepuesto" />
            <div class="form-group">
                <label asp-for="Nombrerepuesto" class="control-label"></label>
                <input asp-for="Nombrerepuesto" class="form-control" />
                <span asp-validation-for="Nombrerepuesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marcarepuesto" class="control-label"></label>
                <input asp-for="Marcarepuesto" class="form-control" />
                <span asp-validation-for="Marcarepuesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidadexistente" class="control-label"></label>
                <input asp-for="Cantidadexistente" class="form-control" />
                <span asp-validation-for="Cantidadexistente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tarifarepuesto" class="control-label"></label>
                <input asp-for="Tarifarepuesto" class="form-control" />
                <span asp-validation-for="Tarifarepuesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idcategoria" class="control-label"></label>
                <select asp-for="Idcategoria" class="form-control" asp-items="ViewBag.Idcategoria"></select>
                <span asp-validation-for="Idcategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idproveedor" class="control-label"></label>
                <select asp-for="Idproveedor" class="form-control" asp-items="ViewBag.Idproveedor"></select>
                <span asp-validation-for="Idproveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
